.comment-box {
  margin: 10px;
}

.votes_up {background: green}
.votes_down {background: red}
.vote_button {font-size: 10px; width: 10px; height: 18px; line-height: 0px}
.green {background:green}
.red {background: red}
.new_vote{margin: 0px}